
* {
   /* border: solid 1px black; */
}

#myCanvas {
  /* float: middle; */
  margin: auto;
  border: solid 1px black;
}

#canvasContainer {
  width: 500px;
  margin: auto;
}

#myHeading {
    background-color: #BF4C41;
}

#page-container {
    background-color: #E1E2E7;

}

#myImage {
    padding: 0% 35%;
    width: 30%;
    height:30%;
}

#test {
    /*width: 50%; */
    /* float: right; */
}

#column-container {
    height: 200px;
}

.text-bourder {
    border: solid 4px #98042D;
    background-color: #FCC0C5;
}

.columnsClass {
    float: left;
    width: 24%;
}

.text-center {
    text-align: center;
    font-weight: bold;
}

.style-as-button {
    background-color: green;
    width: 100px;
    /*height: 100px; */
    padding: 16px;
    border: solid 1px black;
    float: none;
    text-align: center;
    border-radius: 25px;
    color: white;
}
